<a href="https://colab.research.google.com/github/sourabhsahu123/DataScience/blob/master/dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Seaborn: library for creating attractive statistical graphics
Bokeh:visualization library for large datasets
ploty: creates interactive plots
statsmodel:statistics and econometric **library**

*  sci-kit learn : machine learning
*   List item
jupyter notebook: command prompt

In [0]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.24.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.16.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [0]:
import pandas as pd

In [0]:
import sys

In [0]:
print('python version',sys.version)

python version 3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0]

In [0]:
print(pd.__version__)

0.24.2

In [0]:
import pandas as pd
days=['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
d=pd.Series(days)
d
#difference between series and list is series can have customized indexes can be string also

0    Mon
1    Tue
2    Wed
3    Thu
4    Fri
5    Sat
6    Sun
dtype: object

In [0]:
import numpy as np

In [0]:
employee_fields=['F_Name','L_Name','Emp_Id','Dept']
employee_data=['Sourabh','Sahu','6298','GroupA']
emp=pd.Series(index=employee_fields,data=employee_data)
emp

F_Name    Sourabh
L_Name       Sahu
Emp_Id       6298
Dept       GroupA
dtype: object

In [0]:
company_head_quaters={'Patanjali':'Haridwar','Dabur':'Himacha PRadesh'}
d=pd.Series(company_head_quaters)
d

Patanjali           Haridwar
Dabur        Himacha PRadesh
dtype: object

In [0]:
state=['MP','UP','HP']
capitals=['Bhopal','Lucknow','Shimla']
px={'state':pd.Series(state),'capital':pd.Series(capitals)}

pdx=pd.DataFrame(px)

In [0]:
pdx.to_csv('capitals.csv',index=False)

In [0]:
newdf=pd.read_csv(r'capitals.csv')

In [0]:
newdf

  state  capital
0    MP   Bhopal
1    UP  Lucknow
2    HP   Shimla

In [0]:
newdf['CM']='KamalNath'

In [0]:
newdf

  state  capital         CM
0    MP   Bhopal  KamalNath
1    UP  Lucknow  KamalNath
2    HP   Shimla  KamalNath

In [0]:
newdf['CM']=['KamalNath','Yogi','Khattar']

In [0]:
newdf

   Unnamed: 0 state  capital         CM
0           0    MP   Bhopal  KamalNath
1           1    UP  Lucknow       Yogi
2           2    HP   Shimla    Khattar

In [0]:
del newdf['CM']

In [0]:
newdf.loc[-1]=['WB','Kolkata','Mamta'] #to add a row at particular position

In [0]:
newdf.loc[4]=['Rajasthan','Jaipur','Gehlot']

In [0]:
newdf

        state  capital         CM
 0         MP   Bhopal  KamalNath
 1         UP  Lucknow       Yogi
 2         HP   Shimla    Khattar
-1         WB  Kolkata      Mamta
 4  Rajasthan   Jaipur     Gehlot

In [0]:
newdf.index=newdf.index+1

In [0]:
newdf

       state  capital         CM
2         MP   Bhopal  KamalNath
3         UP  Lucknow       Yogi
4         HP   Shimla    Khattar
1         WB  Kolkata      Mamta
6  Rajasthan   Jaipur     Gehlot

In [0]:
newdf.sort_index() # sort by index

       state  capital         CM
1         WB  Kolkata      Mamta
2         MP   Bhopal  KamalNath
3         UP  Lucknow       Yogi
4         HP   Shimla    Khattar
6  Rajasthan   Jaipur     Gehlot

In [0]:
newdf=newdf.drop(newdf.index[4])

In [0]:
newdf

  state  capital         CM
2    MP   Bhopal  KamalNath
3    UP  Lucknow       Yogi
4    HP   Shimla    Khattar
1    WB  Kolkata      Mamta

In [0]:
state_code=['22','24','26','35']
newdf.index=state_code
newdf

   state  capital         CM
22    MP   Bhopal  KamalNath
24    UP  Lucknow       Yogi
26    HP   Shimla    Khattar
35    WB  Kolkata      Mamta

In [0]:
newdf.reset_index() #add new column for old index
newdf

   state  capital         CM
22    MP   Bhopal  KamalNath
24    UP  Lucknow       Yogi
26    HP   Shimla    Khattar
35    WB  Kolkata      Mamta

In [0]:
newdf=newdf.drop(columns=['index'])

KeyError: ignored

In [0]:
newdf

   state  capital         CM
22    MP   Bhopal  KamalNath
24    UP  Lucknow       Yogi
26    HP   Shimla    Khattar
35    WB  Kolkata      Mamta

In [0]:
newdf[newdf['capital']=='Bhopal']

   state capital         CM
22    MP  Bhopal  KamalNath

In [0]:

newdf['population']=[7.5,19.5,.68,9.13]
newdf

   state  capital         CM  population
22    MP   Bhopal  KamalNath        7.50
24    UP  Lucknow       Yogi       19.50
26    HP   Shimla    Khattar        0.68
35    WB  Kolkata      Mamta        9.13

In [0]:
newdf[newdf['population']>=10]

   state  capital    CM  population
24    UP  Lucknow  Yogi        19.5

In [0]:
newdf[(newdf['population']>=10) & (newdf['capital']=='Lucknow')]

   state  capital    CM  population
24    UP  Lucknow  Yogi        19.5

In [0]:
newdf[(newdf['population']>=9) | (newdf['capital']=='Lucknow')]

   state  capital     CM  population
24    UP  Lucknow   Yogi       19.50
35    WB  Kolkata  Mamta        9.13

In [0]:
newdf[~(newdf['population']>=10)]

   state  capital         CM  population
22    MP   Bhopal  KamalNath        7.50
26    HP   Shimla    Khattar        0.68
35    WB  Kolkata      Mamta        9.13

In [0]:
# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 6.2, 5.1, 5.2], 
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data) 
  
# Declare a list that is to be converted into a column 
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna'] 
  
# Using 'Address' as the column name 
# and equating it to the list 
df['Address'] = address 
df

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Princi     6.2            MA  Bangalore
2  Gaurav     5.1           Msc    Chennai
3    Anuj     5.2           Msc      Patna

In [0]:
df['Qualification'].unique()

array(['Msc', 'MA'], dtype=object)

In [0]:
df.sort_values(['Height'])

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
2  Gaurav     5.1           Msc    Chennai
3    Anuj     5.2           Msc      Patna
1  Princi     6.2            MA  Bangalore

In [0]:
df.pivot(index='Height',columns='Qualification',values='Name')

ValueError: ignored

In [0]:
# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 6.2, 5.1, 5.2], 
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 
  
# Convert the dictionary into DataFrame 
df1 = pd.DataFrame(data) 
df1.index=('Qualification','Height')
df1.reset_index()
# Declare a list that is to be converted into a column 
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna'] 
  
# Using 'Address' as the column name 
# and equating it to the list 
df1['Address'] = address 
df1

ValueError: ignored